/* 
How to align that on right side ? the main content ? 
./images/lexi-laginess-nt6N7BS3rPk-unsplash.jpg
why by decreasing the width of the p container, the background colored container that is 
textcontainer's width also decreases ? 
why is that ? 
*/
@font-face {
    font-family: 'Norse';
    src: url('https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf');
}

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100vh;
    width: 500px;
    background-image: url("./images/lexi-laginess-nt6N7BS3rPk-unsplash.jpg");
    background-size: cover;
}

.container {
    display: flex;
}

.mainContainer p {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.strip {
    height: 160px;
    width: 500px;
    background-color: black;
    opacity: 68%;
    margin-top: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.strip img {
    height: 140px
}

.strip p {
    font-family: 'Norse';
    font-weight: 900;
    font-size: 120px;
    color: white;
}

.textContainer {
    background-color: rgb(231, 231, 231);
    height: 310px;
}

.pcontainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 40px;
    /* width: 160px; */
}

.text1 {
    margin-top: 170px;
}

.formContainer {
    padding: 20px 40px;
    height: 210px;
    background-color: rgb(240, 240, 240);
}
.formContainer p {
    font-weight: bold;
    font-size: 25px;
}

form {
    border: #E5E7EB;
}

#first_name, #last_name, #phone_number, #email, #password, #confirm_password {
    display: block;
}
label {
    font-size: 13px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(87, 87, 87);
}

.row {
    display: flex;
    gap: 70px;
}
.column {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-top: 10px;
}
input {
    border-radius: 6px;
    border: #E5E7EB;
    height: 23px;
    width: 240px;
}

input[type="password"]:invalid {
    border: 2px solid red;
}

input:focus {
    outline: none;
    border: 2px solid blue;
}